{% extends 'layout.html.twig' %}

{% block title %}Entrar | d'Cañas{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/checkboxes.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <section class="active" id="demo1" data-panel="first" style="top:0">
        <div class=" container">
            <div class="login-form-section">
                <a href="{{ path('inicio') }}" style="color: #FFFFFF;">
                    <i class="fa fa-long-arrow-left"></i>
                    Volver al inicio
                </a>
                <div class="login-content  animated bounceIn" data-animation="bounceIn">
                    <form method="post" action="{{ path('login_check') }}" role="form">
                        <div class="section-title">
                            <h2 style="text-align: center;">
                                <a href="{{ path('inicio') }}" style="font-family: 'Satisfy', cursive; letter-spacing: 2px; font-size: 40px; color: #999; text-decoration: none;">
                                    <strong>
                                        <i>d'Cañas</i>
                                    </strong>
                                </a>
                            </h2>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                <input type="text" name="_username" placeholder="Email" id="email" required="" class="form-control" tabindex="1" autocorrect="off" autocapitalize="none" value="{{ last_username | default('') }}"
                   {% if not last_username %}autofocus="" {% endif %}>
                            </div>
                        </div>
                        <div class="textbox-wrap">
                            <div class="input-group">
                                <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                                <input type="password" name="_password" placeholder="Contraseña" id="password" required="" class="form-control" tabindex="2" {% if last_username %}autofocus="" {% endif %}>
                            </div>
                        </div>
                        <div class="login-form-action clearfix">
                            <div class="checkbox pull-left">
                                <div class="custom-checkbox">
                                    <div class="icheckbox_square-blue checked" style="position: relative;">
                                        <input type="checkbox" checked="" name="iCheck" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px;">
                                    </div>
                                </div>
                                <div class="checkbox checkbox-info">
                                    <input id="recordarme" type="checkbox">
                                    <label for="recordarme">
                                        Recordarme
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info pull-right">Entrar &nbsp; <i class="icon-chevron-right"></i></button>
                        </div>
                    </form>
                </div>
                <div class="login-form-links link1  animated fadeInLeftBig" data-animation="fadeInLeftBig" data-animation-delay=".2s" style="animation-delay: 0.2s;">
                    <h4 class="blue">¿No tienes una cuenta?</h4>
                    <span>No te preocupes</span>
                    <a href="{{ path('nuevo_usuario') }}" class="blue">Regístrate gratis</a>
                    <span>ahora</span>
                </div>
                <div class="login-form-links link2  animated fadeInRightBig" data-animation="fadeInRightBig" data-animation-delay=".4s" style="animation-delay: 0.4s;">
                    <h4 class="green">¿Olvidaste tu contraseña?</h4>
                    <span>No re preocupes</span>
                    <a href="#demo3" class="green">Click aquí</a>
                    <span>para recuperarla</span>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/scripts/js/login.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $(".form-control").focus(function () {
                $(this).closest(".textbox-wrap").addClass("focused");
            }).blur(function () {
                $(this).closest(".textbox-wrap").removeClass("focused");
            });

            $(".colorBg a[href]").click(function () {
                var scrollElm = $(this).attr("href");

                $("html,body").animate({ scrollTop: $(scrollElm).offset().top }, 500);

                return false;
            });
        });
    </script>
{% endblock %}