{% extends 'layout.html.twig' %}

{% block title %}Registrarse | d'Cañas{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/checkboxes.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <style>
        .form-horizontal .form-group{
            margin-bottom: 0 !important;
        }
    </style>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <h1 style="text-align: center;">
                <a href="{{ path('inicio') }}" style="font-family: 'Satisfy', cursive; letter-spacing: 2px; font-size: 60px; color: white; text-decoration: none;">
                    <strong>
                        <i>d'Cañas</i>
                    </strong>
                </a>
            </h1>
            <!-- #region Registration Form -->
            <div class="registration-form-section">
                {{ form_start(formulario, {'enctype':'multipart/form-data'}) }}
                    <div class="section-title reg-header" data-animation="fadeInDown">
                        <h3>
                            Obtén una cuenta GRATIS
                        </h3>
                    </div>
                    <div class="clearfix">
                        <div class="col-sm-6 registration-left-section" data-animation="fadeInUp">
                            <div class="reg-content">
                                <div class="textbox-wrap focused">
                                    <div class="input-group">
                                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                        {{ form_row(formulario.nombre) }}
                                    </div>
                                </div>
                                <div class="textbox-wrap">
                                    <div class="input-group">
                                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                        {{ form_row(formulario.apellidos) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 registration-right-section" data-animation="fadeInUp">
                            <div class="reg-content">
                                <div class="textbox-wrap">
                                    <div class="input-group">
                                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                        {{ form_row(formulario.email) }}
                                    </div>
                                </div>
                                <div class="textbox-wrap">
                                    <div class="input-group">
                                        <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                                        {{ form_row(formulario.fechaNacimiento) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="registration-form-action clearfix" data-animation="fadeInUp" data-animation-delay=".15s" style="animation-delay: 0.15s;">
                        <a href="{{ path('entrar') }}" class="btn btn-link pull-left">
                            <i class="icon-chevron-left"></i> Ir al Login
                        </a>
                        <button type="submit" class="btn btn-info pull-right green-btn ">
                            Registrarse
                            <i class="icon-chevron-right"></i>
                        </button>
                    </div>
                {{ form_end(formulario) }}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $(".form-control").focus(function () {
                $(this).closest(".textbox-wrap").addClass("focused");
            }).blur(function () {
                $(this).closest(".textbox-wrap").removeClass("focused");
            });
        });
    </script>
{% endblock %}





















